<div class="media">
  <a class="pull-left" href="<%= user_path(user) %>">
    <%= gravatar_for user, size: 100 %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= "#{user.first_name} #{user.surname}" %></h4>
    <p><strong>Email: </strong> <%= user.email %></p>
    <p><%= user.about ? user.about : "No About info" %></p>
    <% if current_user.admin? && !current_user?(user) %>
      <%= link_to "Delete", user, method: :delete, data:  { confirm: "Are you sure?" }, class: "btn.btn-danger" %>
    <% end %>
  </div>
</div>
<hr />
