<%= provide(:title, "Edit user") %>
<%= form_for @user, html: { class: "form-signin" } do |f| %>
  <h2>Update your profile</h2>
  <%= render "shared/user_edit_error_message" %>
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails">Change your gravatar</a>
  <% if @user.errors.include?(:first_name) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:first_name) %></span>
  <% end %>
  <%= f.text_field :first_name, class: "form-control", placeholder: "first name" %>
  <% if @user.errors.include?(:surname) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:surname) %></span>
  <% end %>
  <%= f.text_field :surname, class: "form-control", placeholder: "last name" %>
  <% if @user.errors.include?(:email) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:email) %></span>
  <% end %>
  <%= f.email_field :email, class: "form-control", placeholder: "email" %>
  <% if @user.errors.include?(:about) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:about) %></span>
  <% end %>
  <%= f.text_area :about, class: "form-control", style: "display: block; height:300px; width: 100%; padding: 7px; border:1px solid rgb(204, 204, 204); border-radius: 0px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;", placeholder: "something about you" %>
  <% if @user.errors.include?(:password) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:password) %></span>
  <% end %>
  <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  <% if @user.errors.include?(:password_confirmation) %>
    <span class="label label-danger"><%= @user.errors.full_messages_for(:password_confirmation) %></span>
  <% end %>
  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "confirm password" %>
  
  <%= f.submit "Save changes", class: "btn btn-lg btn-primary btn-block" %>
  
<% end %>
