<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-2">
    <section>
      <%= gravatar_for(@user) %>
      <h1><%= @user.first_name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Posts: </b><%= @user.posts.count %></span>
    </section>
    <section>
      <%= render "shared/stats" %>
      <div class="users_gravatars_holder">
        <% if @users.any? %>
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        <% end %>
      </div>
    </section>
  </aside>
  <div class="col-md-10">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
