<% provide(:title, @user.first_name) %>
<%= render 'layouts/flash_messages' %>
<%= render 'layouts/profile_header' %>
<div class="posts_holder">
  <% if @user.posts.any? %>
      <h3><%= pluralize(@user.posts.count, "Post") %></h3>
      <div class="posts">
        <%= render @posts %>
      </div>
      <%= will_paginate @posts %>
    <% else %>
      <h4>There are no posts by this user</h4>  
  <% end %>
</div>
