<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h3 class="media-heading"><%= link_to post.title.html_safe, post %></h3>
    <h5>Posted <%= time_ago_in_words(post.created_at) %> <%= "#{ "ago" }" %></h5>
    <div class="post_body">
      <%= post.content %>
    </div>
    <div class="post_footer">
      <% if current_user?(post.user) %>
        <%= link_to "Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, title: post.content, class: "btn btn-default btn-sm" %>
      <% end %>
    </div>
  </div>
</div>
<hr />
