<%# Fixed navbar %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Writup", "#", class: "navbar-brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"> <%= link_to "Home", root_path %></li>
        <li> <%= link_to "Profile", "#" %> </li>
        <li> <%= link_to "Posts", "#" %> </li>
        <li> <%= link_to "Writers", "#" %> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to "About", about_path %> </li>
        <li> <%= link_to "Contact", contact_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign Out", "#" %></li>
            <li class="divider"></li>
            <li class="dropdown-header">Settings</li>
            <li> <%= link_to "Account settings", "#" %> </li>
            <li> <%= link_to "Profile settings", "#" %> </li>
            <li> <%= link_to "Timeline settings", "#" %> </li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
