<div class="media">
  <a class="pull-left" href="<%= user_path(@user) %>">
    <%= gravatar_for @user %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= "#{@user.first_name} #{@user.surname}" %></h4>
    <p><strong>Email: </strong> <%= @user.email %></p>
    <p><%= @user.about ? @user.about : "No about info" %></p>
    <%= render "shared/stats" %>
    <div>
      <%= render "follow_form" if signed_in? %>
    </div>
  </div>
</div>
