<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Writup" %>">
    <%= render 'layouts/ui_dependencies' %>
  </head>
  <body>
    <header>
      <% if signed_in? %>
        <%= render 'layouts/navigation' %>
      <% else %>
        <%= render 'layouts/navigation_not_signed_in' %>  
      <% end %>
    </header>
    <main role="main">
       <%= yield %>
    </main>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
